<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>sampleTextField.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D78F86C01D4078FC0035030B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D78F86D41D4078FD0035030B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D78F86DF1D4078FD0035030B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
